@import './globlalStyles.scss';

.characterRowWrapper {
  position: relative;
  height: 15vh;
  width: 100%;
  overflow: hidden;
}

.parchmentBottom { 
  // Thanks https://stackoverflow.com/questions/14585101/old-paper-background-texture-with-just-css
  margin: 0.25em 1em; 
  border-radius: 20px;
  box-shadow: $blueBlaze;
  background: #fffef0;
  filter: url(#wavy2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.characterRowTop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 2; /* Above 'bottom' element */
  padding: 0 2.5em;
}

.enemyNpcShader {

}

.playerCharacterShader {

}

.playerCharacterShader {}

.characterIcon {
  background-color: green;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  min-width: 3em;
  min-height: 3em;
}

.nameTypeWrapper {
  margin: 0 1em;
  width: 15%;
  p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }
}

.characterName {
  background-color: blue;
  padding: 0.4em 0.3em;
  border-radius: 9px;
  text-align: center;
  // white-space: nowrap;
}

.characterType {
  background-color: green;
  padding: 0.4em 0.3em;
  border-radius: 9px;
  text-align: center;
}
