@import './globlalStyles.scss';

.healthWrapper {
    margin-left: 2em;

}

.bottomHexagon {
    font-size: $iconMinWidth * 1.5;
    // Make wider
    // // -webkit-transform:scale(2,1); /* Safari and Chrome */
    // // -moz-transform:scale(2,1); /* Firefox */
    // // -ms-transform:scale(2,1); /* IE 9 */
    // // -o-transform:scale(2,1); /* Opera */
    // transform:scale(2,1); /* W3C */
    color: white;
    display: flex;
    align-items: center;
    // z-index: 2;
    // position: relative;
}

.topHealthValues {
    color: black;
    position: relative;
    z-index: 3;
}