.characterStat {
  z-index: 1;
  position: absolute;
  transform: translate(50vw)
}

.characterRowWrapper {
}

.parchment { // Thanks https://stackoverflow.com/questions/14585101/old-paper-background-texture-with-just-css
    position: relative;
    transform: scale(0.85);
    // padding: 2em;
    box-shadow: 1px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
    filter: url(#wavy2);
}
