$colorOne: rgba(162, 157, 176, 0.445);

@font-face { font-family: Papyrus; src: url('../assets/ParchmentMf-Vqge.ttf'); } 

$lightRed: #aa6363;
$lighterRed: #b68d8d98;
$lightBlue: #5984b0;
$lighterBlue: #adc0d4c0;
$lightGreen: rgb(92, 136, 117);

$iconMinWidth: 4.25em;

.staticHeader {     
    padding: 1em;
    display: flex;
    align-items: center;
    top:0;
    position: sticky; 
    z-index: 3;
    height: 10vh;
}

.headerText {
    font-family: Papyrus;
    font-size: 400%;
    padding-left:0.5em
}



// $blueBlaze: 1px 3px 1px rgb(97, 97, 97), 
// 0 0 60px #0f248a inset;

// $redBlaze: 1px 3px 1px rgb(97, 97, 97), 
// 0 0 60px #8a0f0f inset;

// $greenBlaze: 1px 3px 1px rgb(97, 97, 97), 
// 0 0 60px #0f8a42 inset;