$colorOne: rgba(162, 157, 176, 0.445);

@font-face { font-family: Papyrus; src: url('../assets/ParchmentMf-Vqge.ttf'); } 


$blueBlaze: 1px 3px 1px rgb(97, 97, 97), 
0 0 60px #0f248a inset;

$redBlaze: 1px 3px 1px rgb(97, 97, 97), 
0 0 60px #8a0f0f inset;

$greenBlaze: 1px 3px 1px rgb(97, 97, 97), 
0 0 60px #0f8a42 inset;

