@import './globalStyles.scss';


.appMainMenu {
    
}

.menuButtonsWrapper {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.menuButtonsWrapper {
    font-family: Papyrus;
    font-size: 32px;
}


.menuLink {
    background-color: $lightBlue;
    padding: 0.5em;
    margin: 10px 2em;
    width: 50vw;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.menuLink:hover {
    background-color: $lighterBlue;
}
