@import './globalStyles.scss';


.appMainMenu {
    
}

.menuButtonsWrapper {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}


.menuLink {
    font-family: Papyrus;
    font-size: 32px;
    background-color: $lightBlue;
    padding: 0.5em;
    margin: 10px 2em;
    width: 50vw;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    align-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
} 

// .menuLink svg {
//     font-size: 5em;
// }


.menuLink:hover {
    background-color: $lighterBlue;
}

.characterTemplateIcon {
    color: rgba(255, 255, 255, 0.584);
}
