@import '../globalStyles.scss';
@import '../mainMenu.scss';

.encounterMenuWrapper {
    display: flex;
    flex-direction: column;
}

.newEncounterButtonWrapper {
    @extend .menuButtonsWrapper;
}

.backToMainMenuSection {
    display: flex;
}

.backToMainMenuSection svg {
    // The back icon
    font-size: 3em;
    color: $lightBlue;
}
.backToMainMenuSection svg:hover {
    color: $lighterBlue;
}

.newEncounterButton {
    @extend .menuLink;
    background-color: white;
    border: $lightBlue;
    border-style: solid;
    border-width: 2px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.newEncounterTextBox:hover {
    background-color: white!important;
}

.newEncounterButton:hover {
   background-color: $lighterBlue;
}

.encounterTextEntryWrapper {
    display: flex;
    // pointer-events: all;
}

.encounterTextEntryWrapper svg {
    margin: 0 .1em;
}

.encounterTextEntryQuestion {
    padding: 1em; 
}

.newEncounterTextEntryCompWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}