@import '../globalStyles.scss';

.charTemplateMenuWrapper {
   

}

.charTemplateMenuHeader {
    @extend .staticHeader;
    @extend .headerText;
}


.charTemplateFormWrapper {
    @extend .centerStackedElementsWithin;
    height: 100vh;

}

.statValInputWrapper {
}

.statValInputElem {
    border-top: none;
    border-left: none;
    border-right: none;
}
