@import '../globalStyles.scss';
@import '../mainMenu.scss';

.charTemplateMenuWrapper {
   

}

.charTemplateMenuHeader {
    @extend .staticHeader;
    @extend .headerText;
}


.charTemplateFormWrapper {
    @extend .centerStackedElementsWithin;
    height: 100vh;

}

.statValInputWrapper {
}

.statValInputElem {
    border-top: none;
    border-left: none;
    border-right: none;
}

.newTemplateButton {
    @extend .menuLink;
    background-color: white;
    border: $lightGreen;
    border-style: solid;
    border-width: 2px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#charOutlineLeft {
    margin-right: auto;
    margin-left: 0;
}

#charOutlineRight {
    margin-left: auto;
    margin-right: 0;
}


.newTemplateButtonWrapper {
    @extend .menuButtonsWrapper;

}
